.organicContent{
    margin-top: 5%;
    margin-bottom: 10%;
}
.organicHeader{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}
.organicbar{
    width: 22%;
    height: 1px;
    margin-bottom: 5%;
    margin-top: 1%;
    margin-left: 39%;
    background-color: #a76e81;
}
.organicGroup{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    place-items: center;
}
.organicCard{
    width: 225px;
    height: 440px;
    border: none;
    background-color: white;
    font-family: 'Play', sans-serif;
    font-size: 15px;
}
.orgaicProductCard{
    width: 225px;
    height: 300px;
    border: none;
    background-color: white;
    font-family: 'Play', sans-serif;
    font-size: 15px;
    text-align: center;
}
.organicItemRow{
    margin-top: 3%;
}
h4{
    font-family: 'Kaushan Script', cursive;
}
.organicImage{
    width: 200px;
    height: 200px;
    border-radius: 5%;
    margin-left: 5%;
    margin-top: 5%;
}
.organicButton{
    border-radius: 5%;
    background-color: #a76e81;
    color: white;
    border-color: #a76e81;
    width: 85%;
    align-self: center;
    margin-bottom: 6%;
    margin-left: 6%;
    height: 40px;
    font-family: 'Play', sans-serif;
    font-size: 15px;
}

@media screen and (max-width: 479px) {
    .organicItemColumn{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .organicbar{
        width: 90%;
        margin-left: 6%;
    }
}