.productsContent{
    margin-top: 5%;
    margin-bottom: 10%;
}
.productsHeader{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}
.productsbar{
    width: 12%;
    height: 1px;
    margin-bottom: 5%;
    margin-top: 1%;
    margin-left: 44%;
    background-color: #a76e81;
}
.ProductsGroup{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
.productsButtonFirst{
    background-image: url(../../images/elyapimi400.png);
    background-repeat:no-repeat;
    background-color:#dddddd;
    width: 400px;
    height: 400px;
    border-radius: 5%;
    border: none;
}
.productsButtonSecond{
    background-image: url(../../images/organik400.png);
    background-repeat: no-repeat;
    background-color:#dddddd;
    width: 400px;
    height: 400px;
    border-radius: 5%;
    border: none;
}
.productsButtonFirst:hover,.productsButtonSecond:hover{
    opacity: 0.7;
    background-color:#dddddd;
}
@media screen and (max-width: 600px) {
    .productsButtonFirst{
        margin: 20px;
        width: 200px;
        height: 200px;
        background-image: url(../../images/elyapimi200.png);
    }
    .productsButtonSecond{
        margin: 20px;
        width: 200px;
        height: 200px;
        background-image: url(../../images/organik200.png);
    }
    .ProductsGroup{
        margin-left: 7%;
        display: flex;
    }
    .productsbar{
        width: 50%;
        margin-left: 25%;
    }
    .ProductsGroup{
        margin-right: 15%;
    }
}